{% extends 'base1.html' %}


{% block head %}
    <li class="nav-item dropdown d-flex justify-content-end">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Months</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}">Previous Month</a>
      <a class="dropdown-item" href="{% url 'calendarapp:calendar' %}?{{ next_month }} ">Next Month</a>
    </div>
    </li>
    <a class="nav-link d-flex justify-content-end" style="color:bisque" href="{% url 'calendarapp:event_new' %}">Add Event</a>
{% endblock %}
{% block body %}
<div class="container mt-2 shadow" style="background-color:lemonchiffon">
<div style="color: rgb(18, 47, 211)">
    {{ calendar }}
</div>
</div>
{% endblock %}