{% extends 'base1.html' %}


{% block head %}
    <li class="nav-item right">
        <a class="btn btn-light btn-sm right mr-2 text-white" href="{% url 'calendarapp:calendar' %}?{{ prev_month }}">Previous Month</a>
    </li>
    <li class="nav-item right">
        <a class="btn btn-light btn-sm right mr-2 text-white" href="{% url 'calendarapp:calendar' %}?{{ next_month }} ">Next Month</a>
    </li>
    <li class="nav-item right">
        <a class="btn btn-light btn-sm right mr-2 text-white" href="{% url 'calendarapp:event_new' %}">Add Event</a>
    </li>
{% endblock %}
{% block content %}
<div style="color: rgb(18, 47, 211);">
    {{ calendar }}
</div>
{% endblock %}